
* {
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-decoration: none;
    /* background-color: black; */
  }

body {
  background-image: url('../img/bg-blue.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.loginbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}
svg{
  color: #251a7a;
}
.logincard
{
    display: flex;
    flex-direction: column;
    min-width: 330px;
    width: 20%;
    height: auto;
    padding: 25px;
    box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: #040000bd;
    z-index: 1;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 400px;
    margin: 50px auto 10px auto;
    padding: 30px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 3px 9px 0px #999999b3;
    text-align: center;
    height: 450px;
    z-index: 5;

  }

.logincard img{
    align-items: center;
    height: 61px;
    width: 54px;
}
.user-icon{
  width: 70px;
  height: auto;
  border-radius: 20px;
}
.details {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.details input {
    background-color: #00000030;
    border: none;
    color: #fff;
    padding: 15px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
  
}

button {
    width: 100%;
    height: 40px;
    background-color: red;
    padding: 5px;
    border-radius: 8px;
    color: white;
    border-collapse: collapse;
    border-color: red;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}

.err{
  color: red;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}

.blur-cloud.success::after {
	animation: cloudBlur 1.5s ease-out forwards;
}

@keyframes cloudBlur {
	0% {
		backdrop-filter: blur(0px);
		background: rgba(148, 34, 255, 0);
	}
	50% {
		backdrop-filter: blur(10px);
		background: rgba(98, 13, 255, 0.5);
	}
	100% {
		backdrop-filter: blur(0px);
		background: rgba(168, 85, 247, 0);
	}
}
